# Google Sheets

VITE_SHEET_ID=''
VITE_SHEET_GID=''
VITE_SHEET_HEADER_ROW=6

# Google Tag Manager

VITE_GTM_ID=''

# API e site
VITE_API_URL=
VITE_SITE_URL=

# Supabase
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=

# Sentry
VITE_SENTRY_DSN=
VITE_SENTRY_AUTH_TOKEN=