.btn {
  --icon-size: 60%;
  --btn-size: var(--touch-min);

  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--btn-size);
  height: var(--btn-size);
  padding: 0;
  background: transparent;
  border: none;
  border-radius: var(--border-radius-sm);
  cursor: pointer;
  transition: background-color var(--motion-transition-default);
  color: var(--color-text-subtle);
  text-decoration: none;

  &:hover {
    background-color: var(--color-background-subtle);
    color: var(--color-action-default);
  }

  :deep(.base-icon) {
    width: var(--icon-size);
    height: var(--icon-size);
  }
}
